@import "../../styles/Palette.scss";

.cart {
    justify-content: center;
    &_heading {
        color: $mainHeading;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}

.cartDisplay {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}
