.product {
    &_heading {
        color: bisque;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}

.image {
    height: 70vh;
    border: 2px solid bisque;
    margin: 10px;
}

.productCard {
    width: 70vw;
    margin: auto;
    // border: 2px solid blue;
}

.imageDescContainer {
    display: flex;
    flex-direction: row;
    background: rgb(84, 146, 175);
}

.description {
    padding: 20px;
    &_heading {
        color: bisque;
    }
    &_content {
        font-size: 15px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }
}
