@import "../../styles/Palette.scss";

.product {
    &_heading {
        color: $mainHeading;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}

.image {
    height: 70vh;
    border: 2px solid $mainHeading;
    margin: 10px;
}

.productCard {
    width: 70vw;
    margin: auto;
    // border: 2px solid blue;
}

.imageDescContainer {
    display: flex;
    flex-direction: row;
    background: $cardBackground_2;
}

.description {
    padding: 20px;
    &_heading {
        color: $midHeading;
        font-family: $descriptionFontFamily;
    }
    &_content {
        font-size: 17px;
        text-align: justify;
        font-family: $descriptionFontFamily;
        font-weight: 200;
        color: $textDescription;
    }
}

.unitPrice {
    font-size: 25px;
    // text-align: justify;
    font-family: $descriptionFontFamily;
    font-weight: 200;
    color: $textDescription;
    margin-right: 30px;
}

.priceAndQuant {
    color: $textDescription;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
