// The color scheme colors should go in here

$mainHeading: bisque;
$midHeading: rgb(216, 185, 147);
$textDescription: rgb(216, 185, 147);
$cardBackground_1: rgb(68, 68, 68);
$cardBackground_2: b9d1d393;
$cardBackground_3: rgb(84, 146, 175);
$cardImageContBG: rgba(0, 0, 0, 0);
$buttonBG: rgb(136, 128, 118);

$descriptionFontFamily: Arial;

// rgba(255, 255, 255, 0.418);
