.card {
    border: 1px solid rgb(116, 116, 116);
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    // max-width: 800px;

    background-color: rgb(68, 68, 68);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productImage {
    width: 100px;
}
