@import "../../styles/Palette.scss";

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // grid-template-columns: 1fr, 1fr, 1fr;
    grid-gap: 10px;
}

.products {
    height: 100%;
    &_heading {
        color: $mainHeading;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}
